{% import 'macros.html' as macro %}

<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge"> {% if title%}
    <title>{{ title }}</title>
    {% else %}
    <title>Home - News Highlight</title>
    {% endif %}
  </head>

  <body>
    <!--general news section-->
    <h3>General News Category</h3>
    <ul>
      {% for general_new in general %}
      <li><strong>{{ general_new.name }} </strong> : {{ general_new.url }}</li>
      {% endfor %}
    </ul>


  </body>

</html>
